<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting fire</title>
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
</head>
<body>
    <h1>Transactions</h1>
    <ul id="transactions">
        {% for document in documents %}
        <li>
            {% for entry in document.bk_to_cstmr_stmt.stmt.ntry %}
                ${{document.bk_to_cstmr_stmt.stmt.id}} ${{entry.amt}}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>

