<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting fire</title>
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
</head>
<body>
    <h1>Transactions</h1>
    <table id="transactions">
        <thead><tr><th>Balance</th><th>Amount</th></thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>
                {% for bal in document.bk_to_cstmr_stmt.stmt.bal %}
                {{bal.amt}}
                {% endfor %}
                </td>
                <td>
                {% for entry in document.bk_to_cstmr_stmt.stmt.ntry %}
                {{entry.val_dt.dt}} {{entry.amt}}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
